<template lang="pug">
  svg.badge-stars-frame(viewBox="0 0 50.77 83.29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
    path.star1(d="M8.64 13.97l-4.1 2.16.78-4.57L2 8.33l4.59-.67L8.64 3.5l2.05 4.16 4.58.67-3.31 3.23.78 4.57-4.1-2.16z")
    path.star2(d="M25.67 10.47l-4.1 2.15.79-4.56-3.32-3.24 4.58-.66L25.67 0l2.06 4.16 4.58.66-3.32 3.24.79 4.56-4.11-2.15z")
    path.star3(d="M43.7 13.97l-4.1 2.16.78-4.57-3.32-3.23 4.59-.67L43.7 3.5l2.05 4.16 4.59.67-3.32 3.23.78 4.57-4.1-2.16z")
    path.badge(stroke="#3b99fc" fill="#3b99fc" d="M2 25l23.38-5.85L48.77 25v24.7a30 30 0 0 1-14.1 25.43l-9.29 5.81-9.28-5.81A30 30 0 0 1 2 49.7z" stroke-width="4")
    path.barrier(stroke="#fff" stroke-width="4" d="M4.75 27.49l20.63-5.16L46 27.49v21.79a26.46 26.46 0 0 1-12.42 22.44l-8.2 5.12-8.19-5.12A26.46 26.46 0 0 1 4.75 49.28z")
</template>

<style>
svg {
  fill: #3b99fc;
}
</style>
