<template lang="pug">
  svg.badge-stars(viewBox="0 0 38 47" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
    path.halo(d="M3 7.44854V23.6468C2.9999 26.9307 3.96866 30.1607 5.81518 33.033C7.6617 35.9053 10.3253 38.3254 13.5554 40.0658L19 43L24.4446 40.0658C27.6747 38.3254 30.3383 35.9053 32.1848 33.033C34.0313 30.1607 35.0001 26.9307 35 23.6468V7.44854L19 4L3 7.44854Z")
    path.star1(:fill="color" d="M24.915 11.8395L23.4238 12.58L23.7075 11.0132L22.5 9.90589L24.1694 9.67619L24.915 8.25L25.6606 9.67619L27.33 9.90589L26.1225 11.0132L26.4062 12.58L24.915 11.8395Z")
    path.star2(:fill="color" d="M19.0554 10.388L19 10.3606L18.9446 10.388L17.5023 11.1016L17.7757 9.60108L17.7881 9.53321L17.7373 9.48656L16.5861 8.43046L18.1839 8.21186L18.2478 8.20313L18.2777 8.14608L19 6.7691L19.7223 8.14608L19.7522 8.20313L19.8161 8.21186L21.4139 8.43046L20.2627 9.48656L20.2119 9.53323L20.2243 9.60113L20.4983 11.1016L19.0554 10.388Z")
    path.star3(:fill="color" d="M13.0668 11.8395L11.5745 12.58L11.8584 11.0132L10.65 9.90589L12.3207 9.67619L13.0668 8.25L13.813 9.67619L15.48 9.90589L14.2752 11.0132L14.5591 12.58L13.0668 11.8395Z")
    path.badge(:fill="color" d="M10.625 23.5V14.599L19 12.6284L27.375 14.599V23.5C27.375 25.3134 26.885 27.0975 25.9504 28.6844C25.0158 30.2715 23.6672 31.6096 22.0306 32.5723L19 34.355L15.9694 32.5723C14.3328 31.6096 12.9842 30.2715 12.0496 28.6844C11.115 27.0975 10.625 25.3134 10.625 23.5Z")
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: '#3b99fc'
    }
  },
}
</script>

<style>
svg {
  fill: #3b99fc;
}
</style>
