@font-face {
  font-family: 'Avenir-Roman';
  src: url('~assets/fonts/Avenir-Roman.woff2') format('woff2'),
       url('~assets/fonts/Avenir-Roman.woff') format('woff'),
       url('~assets/fonts/Avenir-Roman.ttf')  format('truetype');
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url('~assets/fonts/Avenir-Medium.woff2') format('woff2'),
       url('~assets/fonts/Avenir-Medium.woff') format('woff'),
       url('~assets/fonts/Avenir-Medium.ttf')  format('truetype');
}

@font-face {
  font-family: 'Avenir-Heavy';
  src: url('~assets/fonts/Avenir-Heavy.woff2') format('woff2'),
       url('~assets/fonts/Avenir-Heavy.woff') format('woff'),
       url('~assets/fonts/Avenir-Heavy.ttf')  format('truetype');
}

@font-face {
  font-family: 'Avenir-Black';
  src: url('~assets/fonts/Avenir-Black.woff2') format('woff2'),
       url('~assets/fonts/Avenir-Black.woff') format('woff'),
       url('~assets/fonts/Avenir-Black.ttf')  format('truetype');
}
