@import '~/assets/css/variables.scss';

body {
  background-color: $website-color;
  color: $body-text;
  font-family: 'Avenir-Roman';
  font-size: 16px;
}

.container-main {
  margin: 0 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;

  @include mobile {
    margin: 20px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
